.flex-wrap {
  flex-wrap: wrap;
}

* {
  box-sizing: border-box !important;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.d-none {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.mat-tab-label .mat-tab-label-content {
  flex-direction: column;
}

.mat-tab-body-wrapper {
  height: 100%;
  overflow-y: auto;
}

.mat-tab-label {
  padding-top: 8px !important;
  min-width: 100px !important;
}

.apexcharts-toolbar {
  top: -16px !important;
}

.apexcharts-toolbar > div {
  margin: 0 8px;
  &:last-child {
    margin-right: 0;
  }
  &:first-child{
    margin-left: 0;
  }

}

mat-spinner {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

