<div class="header">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <button mat-icon-button (click)="sidenav.toggle()">
        <img class="logo" src="assets/images/logos/logo.png" alt="logo">
      </button>
    </div>
    <mat-icon class="f24 ml16" (click)="showSideBar()">menu</mat-icon>
  </div>

<!--  <ng-container *ngFor="let item of balance">-->
<!--    <div class="d-flex align-items-center balance-padding">-->
<!--      <span>{{item.currency}}: {{item.balance}}</span>-->
<!--    </div>-->
<!--  </ng-container>-->

  <ng-container *ngIf="showTitle">
    <div class="f-gr-1 mx16" id="mydivHeader"></div>
  </ng-container>


  <div class="theme d-flex align-items-center">
<!--    <mat-select name="themeSelect"-->
<!--                placeholder="тема"-->
<!--                [(ngModel)]="themeSelect"-->
<!--                (ngModelChange)="changeThemeColor($event)">-->
<!--      <mat-option value="light">Светлая</mat-option>-->
<!--      <mat-option value="dark">темная</mat-option>-->
<!--    </mat-select>-->
    <mat-icon class="f24" (click)="logout()">exit_to_app</mat-icon>


</div>

</div>
