.header {
  padding: 10px 20px;
  padding-left: 7px;
  background: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  display: flex;
}
.btn{
  margin: 5px;
  background-color: var(--bg-info);
}
.theme{
  margin-left: auto;
}

mat-select {
  color: var(--navbar-text-color);
}
