.header {
  padding: 10px 20px;
  padding-left: 7px;
  background: var(--navbar-bg-color);
  color: var(--navbar-text-color);
}

.header-wrapper {
  max-width: 650px;
  margin: auto;
  display: flex;
}

.btn {
  margin: 5px;
  background-color: var(--bg-info);
}

.logo {
  min-width: 40px;
  height: 40px;
}


.theme {
  margin-left: auto;

  ::ng-deep {
    .mat-select-placeholder {
      color: var(--navbar-text-color);
    }

    .mat-select-arrow {
      color: var(--navbar-text-color);
    }

    .mat-select-value-text {
      color: var(--navbar-text-color);
    }
  }
}

.mat-select {
  min-width: 50px;
  margin-left: 16px;
}

.balance-padding {
  padding: 0 10px;
}

.mr-auto {
  margin-right: auto;
}

::ng-deep {
  .mat-select-value {
    text-align: right !important;
  }
}


