.header {
  padding: 10px 20px;
  padding-left: 7px;
  background: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  display: flex;
}

.btn {
  margin: 5px;
  background-color: var(--bg-info);
}

.logo {
  width: 40px;
  height: 40px;
}


.theme {
  margin-left: auto;

  ::ng-deep {
    .mat-select-placeholder {
      color: var(--navbar-text-color);
    }

    .mat-select-arrow {
      color: var(--navbar-text-color);
    }

    .mat-select-value-text {
      color: var(--navbar-text-color);
    }
  }
}

.mat-select {
  min-width: 150px;
  margin-left: 16px;
}

.balance-padding {
  padding: 0 10px;
}

.mr-auto {
  margin-right: auto;
}


