<div class="header">
  <div>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>TINKOFF</span>
  </div>

  <div class="theme d-flex align-items-center">
    <button mat-raised-button (click)="changeThemeColor('dark')" [ngClass]="'btn'">
      Theme dark
    </button>

    <button mat-raised-button (click)="changeThemeColor('light')" [ngClass]="'btn'">
      Theme light
    </button>

    <mat-select name="themeSelect"
                placeholder="Select color"
                [(ngModel)]="themeSelect"
                (ngModelChange)="changeThemeColor($event)">
      <mat-option value="light">Light Theme</mat-option>
      <mat-option value="dark">Dark Theme</mat-option>
    </mat-select>

</div>

</div>
