<div class="header">
  <div class="header-wrapper h100 align-items-center">
    <ng-container *ngIf="showBuy">
<!--      <mat-icon [routerLink]="['/']" class="mr16 pointer">home</mat-icon>-->
      <button class="mr16" mat-icon-button [routerLink]="['/portfolio']" [queryParams]="{open: 'portfolio'}">
        <img class="logo" src="assets/images/logos/logo.png" alt="logo">
      </button>
      <mat-icon (click)="goBack()" class="f24 mr16 pointer">keyboard_backspace</mat-icon>
      <h3 class="mb0">Что купить</h3>
      <div class="f-gr-1"></div>

      <mat-icon *ngIf="!showSearch" class="f24 mx16 pointer" (click)="showSearch = !showSearch">search</mat-icon>
<!--      <mat-icon *ngIf="showSearch" class="f24 mx16" (click)="showSearch = !showSearch">search_off</mat-icon>-->

      <ng-container *ngIf="showSearch">
        <div class="search-input py1 d-flex align-items-center">
          <div class="wrap-input">
            <mat-icon *ngIf="showSearch" class="f24 mx16 pointer" (click)="showSearch = !showSearch">search_off</mat-icon>
            <mat-form-field class="f-gr-1 mx16 f12" appearance="outline" color="accent">
              <mat-label >Поиск</mat-label>
              <input autofocus (ngModelChange)="searchChange($event)" [(ngModel)]="search" matInput placeholder="Поиск...">
              <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search='';searchChange('')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

        </div>
      </ng-container>


    </ng-container>

    <ng-container *ngIf="!isDetailInstrument && !showBuy">
      <div class="d-flex align-items-center my6">
        <div class="mr-auto">
<!--          <mat-icon [routerLink]="['/']" class="mr16 pointer">home</mat-icon>-->

          <button mat-icon-button [routerLink]="['/portfolio']" [queryParams]="{open: 'portfolio'}">
            <img class="logo" src="assets/images/logos/logo.png" alt="logo">
          </button>
        </div>
        <!--    <mat-icon class="f24 ml16" (click)="showSideBar()">menu</mat-icon>-->
      </div>
    </ng-container>


    <div class="d-flex align-items-center">

      <ng-container *ngIf="currentInstrument && isDetailInstrument">
        <button class="mr16" mat-icon-button [routerLink]="['/portfolio']" [queryParams]="{open: 'portfolio'}">
          <img class="logo" src="assets/images/logos/logo.png" alt="logo">
        </button>
        <mat-icon class="f24 mr16 pointer" (click)="goBack()">keyboard_backspace</mat-icon>
<!--        <div class="d-flex py16">-->
<!--          <div>{{currentInstrument.name}}</div>-->
<!--          <div>&nbsp;({{currentInstrument.ticker}})</div>-->
<!--        </div>-->
      </ng-container>
    </div>



    <div class="theme d-flex align-items-center">
      <!--          <mat-select name="themeSelect"-->
      <!--                      placeholder="тема"-->
      <!--                      [(ngModel)]="themeSelect"-->
      <!--                      (ngModelChange)="changeThemeColor($event)">-->
      <!--            <mat-option value="light">Светлая</mat-option>-->
      <!--            <mat-option value="dark">темная</mat-option>-->
      <!--          </mat-select>-->
      <mat-icon class="f24 my6 pointer mx16" (click)="openStore()">electrical_services</mat-icon>
      <mat-icon class="f24 my6 pointer" (click)="logout()">exit_to_app</mat-icon>


    </div>

  </div>


</div>
