
:host {
  ::ng-deep {
    //mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  { padding: 0.4em 0px }
    //mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix > span.mat-form-field-label-wrapper { top: -1.5em; }
    //
    //.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    //  transform: translateY(-1.1em) scale(.75);
    //  width: 133.33333%;
    //}
    .mat-form-field-wrapper {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    /* Border */
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: white !important;
    }
    /* Font color */
    input.mat-input-element {
      color: white;
    }
    .mat-form-field-label {
      color: white  !important;
    }
  }
}

.search-input {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: black;
  width: 100%;
  .wrap-input {
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
  }
}


.header {
  background: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  min-height: 52px;
}

.header-wrapper {
  max-width: 600px;
  margin: auto;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  min-height: 52px;
}

.btn {
  margin: 5px;
  background-color: var(--bg-info);
}

.logo {
  min-width: 40px;
  height: 40px;
}


.theme {
  margin-left: auto;

  ::ng-deep {
    .mat-select-placeholder {
      color: var(--navbar-text-color);
    }

    .mat-select-arrow {
      color: var(--navbar-text-color);
    }

    .mat-select-value-text {
      color: var(--navbar-text-color);
    }
  }
}

.mat-select {
  min-width: 50px;
  margin-left: 16px;
}

.mr-auto {
  margin-right: auto;
}

::ng-deep {
  .mat-select-value {
    text-align: right !important;
  }
}


