@import "~iiko-styles/style/variables";

.logo {
  width: 32px;
}

a {
  color: black;
}

.clearfix {
  width: 100%;
  display: block;
  height: 1px;
  clear: both;
}

.uppercase {
  text-transform: uppercase;
}

.border {
  border: 1px solid $light-gray;
  padding: 16px 16px 150px 16px;
  border-radius: 4px;
  position: relative;
}

.price {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  left: 0;
}

.my-image {
  position: absolute !important;
  top: -25px;
}

.carousel-arrow {
  top: 42% !important;
}

.items-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.lh18 {
  line-height: 18px;
}

.lh26 {
  line-height: 26px;
}

.logos {
  width: 64px;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1024px;
  display: block;
  margin: 0 auto;
}

.align-items-start {
  align-items: flex-start;
}


#login-form-wrapper {
  position: relative;
  max-width: 300px;
  padding: 30px;
  border: 1px solid $black;
  border-radius: 8px;
}

@media all and (max-width: 992px) {
  .main-text {
    margin-top: 16px !important;

    .f50 {
      font-size: 32px !important;
      text-align: center;
      display: block;
      margin-bottom: 32px;
      font-weight: bold;
    }
  }
  .base-info {
    margin-top: 16px !important;
  }

  .reg-button {
    display: none;
  }

  .first-container {
    margin-bottom: 32px !important;
  }

  #login-form-wrapper {
    margin: 32px auto;
  }

  .tariff {
    flex-direction: column;

    .w-30 {
      width: 100% !important;
      margin-bottom: 16px;
    }
  }

  .f40.uppercase {
    font-size: 24px !important;
    margin-bottom: 32px !important;
    font-weight: bold;
  }
}

@media all and (max-width: 600px) {
  ul {
    font-size: 14px !important;
  }

  .f24.uppercase {
    font-size: 18px !important;
  }

  .button.f24 {
    font-size: 16px !important;
  }

  .container.mb100.px16 {
    margin-bottom: 32px !important;
  }

  .uppercase.text-center.f18.lh26.mb50, .uppercase.text-center.f18.lh26.mb50 {
    font-size: 14px !important;
  }

  .info {
    flex-direction: column;
    .w-50 {
      width: 100% !important;
    }
    &.mt50 {
      margin-top: 0 !important;
    }
  }
}

@media all and (max-width: 450px) {

  h1.ml16.mb0.uppercase {
    font-size: 14px;
  }
  .main-text {
    .f50 {
      font-size: 18px !important;
    }
  }

  .button.f24 {
    font-size: 14px !important;
    padding: 8px 16px;
    text-transform: lowercase;
  }


}





