@import "~iiko-styles/style/variables";

.logo {
  width: 32px;
}

.clearfix {
  width: 100%;
  display: block;
  height: 1px;
  clear: both;
}

.uppercase{
  text-transform: uppercase;
}

.logos {
  width: 64px;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1024px;
  display: block;
  margin: 0 auto;
}

.align-items-start {
  align-items: flex-start;
}


#login-form-wrapper {
  position: relative;
  max-width: 300px;
  padding: 30px;
  border: 1px solid $black;
  border-radius: 8px;
}






