<div class="container mt60 px16 first-container">
  <div id="head6"></div>
  <div class="d-flex w100 flex-wrap align-items-start">
    <div class="f-gr-1">
      <div class="mt32">
        <div class="d-flex align-items-center">
          <img class="logos" src="assets/images/logos/logo2.svg" alt="logo">
          <h1 class="ml16 mb0 uppercase">BARADDUR - Сервис умного инвестирования</h1>
        </div>
      </div>

      <div class="mt32">
        <div class="d-flex uppercase">
          <a href="#head1" class="mr16">Почему мы</a>|<a href="#head2" class="mx16">О Сервисe</a> | <a href="#head3" class="ml16">Контакты</a>
        </div>
        <div class="d-flex uppercase mt16">
          <a href="#head4" class="mr8">Каталог</a> <a href="#head5" class="ml8">Тарифы</a>
        </div>
      </div>

      <div class="mt100 main-text">
        <span class="uppercase f50">Надежные Инвестиции</span>
      </div>

      <div class="mt60 base-info">
        <ul class="uppercase f18 ml16 pl0">
          <li class="mb16">Быстрая и понятная регистраци</li>
          <li class="mb16">Доступ к сервисам торговли с лбюого устройства 24/7</li>
          <li class="mb16">Информационная поддержка</li>
        </ul>
      </div>
    </div>
    <div id="login-form-wrapper"
         class="mt32"
         fxLayout="column"
         fxLayoutAlign="center center">

      <div id="login-form" class="form w100">
        <form name="loginForm" [formGroup]="loginForm" novalidate>

          <mat-form-field class="d-block mb16" appearance="outline">
            <mat-label>Электронная почта</mat-label>
            <input matInput formControlName="login">
            <mat-icon matSuffix class="secondary-text">account_box</mat-icon>
            <mat-error i18n="login error" *ngIf="loginForm.get('login').hasError('required')">
              Почта обязательна
            </mat-error>
          </mat-form-field>

          <ng-container *ngIf="reg">
            <mat-form-field class="d-block mb16" appearance="outline">
              <mat-label>Ваше имя</mat-label>
              <input matInput formControlName="name">
              <mat-icon matSuffix class="secondary-text">account_box</mat-icon>
              <mat-error i18n="login error" *ngIf="loginForm.get('name').hasError('required')">
                Имя пользователя обязательно
              </mat-error>
            </mat-form-field>
          </ng-container>


          <mat-form-field class="d-block mb16" appearance="outline">
            <mat-label>Пароль</mat-label>
            <input (keyup.enter)="login()" matInput [type]="type" formControlName="password">
            <mat-icon *ngIf="visibility" (click)="visibility = !visibility; type = 'password'"
                      matSuffix class="secondary-text pointer">visibility
            </mat-icon>
            <mat-icon *ngIf="!visibility" (click)="visibility = !visibility; type = 'text'"
                      matSuffix class="secondary-text pointer">visibility_off
            </mat-icon>
            <mat-error>
              Пароль
            </mat-error>
          </mat-form-field>

           <mat-form-field *ngIf="reg" class="d-block" appearance="outline">
            <mat-label>Токен доступа в Песочницу</mat-label>
            <input required matInput type="password" formControlName="tToken">
            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
            <mat-error>
              Токен обязателен
            </mat-error>
          </mat-form-field>
          <a *ngIf="reg" (click)="openInfo()" class="text-underline text-info mb24 d-block pointer">Как получить токен ?</a>


          <ng-container *ngIf="reg">

            <div class="d-flex flex-wrap">
              <button (click)="registration()"
                      mat-raised-button color="warn"
                      class="submit-button text-uppercase w100 mb16"
                      [disabled]="loginForm.invalid"
                      i18n="login button text">
                Регистрация
              </button>
              <button (click)="showRegistration()"
                      mat-raised-button color="warn"
                      class="text-uppercase  w100"
                      i18n="Registration button text">
                Перейти к авторизации
              </button>
            </div>
          </ng-container>
          <ng-container *ngIf="!reg">
            <div class="d-flex align-items-center">
              <button (click)="login()"
                      mat-raised-button color="warn"
                      class="submit-button text-uppercase f-gr-1"
                      [disabled]="loginForm.invalid"
                      i18n="login button text">
                Войти
              </button>

              <span (click)="showRegistration()"
                    id="show-registration"
                    class="text-uppercase ml16 f-gr-1 text-info text-underline pointer"
                    i18n="Registration button text">
              Регистрация
            </span>
            </div>
          </ng-container>
        </form>
      </div>
    </div>
  </div>
  <div class="mt60 reg-button">
    <a href="#head6" mat-raised-button class="f24 ml60 p16 d-block d-inline-block button" color="warn">Регистрация</a>
  </div>
</div>

<div id="head1" class="mb150"></div>

<div class="container mb100 px16">

  <div class="f40 uppercase text-center mb80">
    C НАМИ КОМФОРТНО
  </div>

  <div class="d-flex mt32 info">
    <div class="w-50 p24">
      <div class="f24 uppercase">Умные сервисы не спят OFFLINE</div>
      <ul class="ml0 f18 pl16">
        <li>Роботы выполняют свою работу независимо в сети вы или нет</li>
      </ul>
    </div>
    <div class="w-50 p24">
      <div class="f24 uppercase">Три месяца Бесплатно</div>
      <ul class="ml0 f18 pl16">
        <li>После регистрации время оценить качество и надежность</li>
      </ul>
    </div>
  </div>

  <div class="d-flex mt50 info">
    <div class="w-50 p24">
      <div class="f24 uppercase">Огромный выбор ценных бумаг</div>
      <ul class="ml0 f18 pl16">
        <li>При поддержке Тинькофф инвестиции широкий выбор инструментов для совершения сделок</li>
      </ul>
    </div>
    <div class="w-50 p24">
      <div class="f24 uppercase">Просто даже новичку</div>
      <ul class="ml0 f18 pl16">
        <li>Сервис предоставляет доступ к большому выбору полезной информации</li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="container px16">
  <div class="d-block text-center">
    <a href="#head6" mat-raised-button class="f24 p16 d-inline-block button" color="warn">Регистрация здесь</a>
  </div>
</div>

<div id="head2" class="pt100"></div>

<div class="container px16">
  <div class="f40 text-center uppercase mb50">О Сервисe</div>
  <p class="uppercase text-center f18 lh26 mb50">BARADDUR - ИНВЕСТИЦИОННАЯ ПЛАТФОРМА, СОЗДАНАЯ ПРИ ПОДДЕРЖКЕ БАНКА
    ТИНЬКОФФ.
    В РАМКАХ ПРОЕКТА ПРОАНАЛИЗИРОВАННЫ И УЧТЕНЫ МНЕНИЯ СОТЕН ПОТЕНЦИАЛЬНЫХ ПОЛЬЗОВАТЕЛЕЙ.
  </p>

  <p class="uppercase text-center f18 lh26 mb50">
    BARADDUR - ТЕПЕРЬ ТОРГОВЛЯ НЕ ТОЛЬКО ВЫГОДНО, НО И ИНТЕРЕСНО.
    СОЗДАН ПРИ ПОДДЕРЖКЕ БАНКА ТИНЬКОФФ.
    В РАМКАХ РЕАЛИЗАЦИИ ПРОЕКТА ПРОАНАЛИЗИРОВАННЫ И УЧТЕНЫ МНЕНИЯ ДЕСЯТКОВ СПЕЦИАЛИСТОВ В СФЕРЕ БИРЖЕВОЙ ТОРГОВОЛИ.
    ПО РЕЗУЛЬТАТАМ ИССЛЕДОВАНИЙ СОЗДАНА УНИКАЛЬНАЯ ПЛАТФОРМА.
  </p>

  <ul class="f16">
    <li class="mb16">ОГРОМНЫЙ ОБЪЕМ ФИНАНСОВОЙ ИНФОРМАЦИИ И ОТЧЕТНОСТИ СОБРАНЫ В ОДНОМ МЕСТЕ</li>
    <li class="mb16">ЭЛЕКТРОННЫЙ АССИСТЕНТ ТРЕЙЛИНГ СТОП - АВТОМАТИЗИРУЕТ УТОМИТЕЛЬНЫЕ И КРОПОТЛИВЫЕ
      ОПЕРАЦИИ СОВЕРШЕНИЯ СДЕЛОК
    </li>
    <li class="mb16">
      ИНФОРМАЦИЯ, ПРЕДСТАВЛЕННАЯ ПО ВСЕМ БИРЖЕВЫМ ПОКАЗАТЕЛЯМ, СУЩЕСТВЕННО ПОМОЖЕТ
      НОВИЧКАМ ОРИЕНТИРОВАТЬСЯ НА РЫНКЕ ЦЕННЫХ БУМАГ
    </li>
    <li class="mb16">
      КОЛИЧЕСТВО СЕРВИСОВ ПОСТОЯННО РАСТЕТ
    </li>
  </ul>
</div>

<div id="head4" class="pt100"></div>

<div class="container px16">
  <div class="f40 text-center uppercase mb50">КАТАЛОГ</div>

  <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let slide of images">
      <ng-template carouselSlide>
       <div class="px30">
         <img [src]="slide.url" [alt]="slide.label">
         <div class="text-center mt16">{{slide.label}}</div>
       </div>
      </ng-template>
    </ng-container>

  </owl-carousel-o>

</div>

<div class="container px16 mb100">
  <div class="d-block text-center">
    <a href="#head6" mat-raised-button class="f24 p16 d-inline-block button mt100" color="warn">НЕ ЗАБУДЬТЕ ЗАРЕГИСТРИРОВАТЬСЯ</a>
  </div>
</div>

<div id="head5" class="pb100"></div>

<div class="container px16">
  <div class="f40 text-center uppercase mb50">Тарифы</div>

  <div class="d-flex tariff">
    <div class="w-30 border">
      <div class="text-center f24 mb20 bold">Бесплатно</div>
      <ul class="pl16 ml0 f18">
        <li class="mb16">ТОРГОВЛЯ НА ПЛАТФОРМЕ ВСЕМИ ВИДАМИ ДОСТУПНЫХ ИНСТРУМЕНТОВ</li>
        <li class="mb16">РАСШИРЕННАЯ ФИНАНССОВАЯ ИНФОРМАЦИЯ</li>
        <li class="mb16">БАЗОВАЯ АНАЛИТИКА</li>
        <li class="mb16">НЕУПРАВЛЯЕМАЯ НОВОСТНАЯ ЛЕНТА</li>
      </ul>
      <div class="price">
        <div class="f24 uppercase text-center bold mb16">0</div>
        <div class="f24 uppercase text-center bold">Рублей в месяц</div>
      </div>

    </div>
    <div class="f-gr-1"></div>
    <div class="w-30 border">
      <div class="text-center f24 bold">GOLD</div>
      <p class="text-center mb20">скоро</p>
      <ul class="pl16 ml0 f18">
        <li class="mb16">ТОРГОВЛЯ НА ПЛАТФОРМЕ ВСЕМИ ВИДАМИ ДОСТУПНЫХ ИНСТРУМЕНТОВ</li>
        <li class="mb16">РАСШИРЕННАЯ ФИНАНССОВАЯ ИНФОРМАЦИЯ</li>
        <li class="mb16">БАЗОВАЯ АНАЛИТИКА</li>
        <li class="mb16">НЕУПРАВЛЯЕМАЯ НОВОСТНАЯ ЛЕНТА</li>
        <li class="mb16">РОБОТ ТРЕЙЛИНГ СТОП</li>
        <li class="mb16">АНАЛИТИЧЕСКАЯ СИСТЕМА НА ОСНОВЕ ИСКУСТВЕННОГО ИНТЕЛЕКТА БАЗИРУЮЩАЯСЯ НА ТЕХНИЧЕСКИХ
          ПОКАЗАТЕЛЯХ
        </li>
      </ul>

      <div class="price">
        <div class="f24 uppercase text-center bold mb16">1500</div>
        <div class="f24 uppercase text-center bold">Рублей в месяц</div>
      </div>

    </div>
    <div class="f-gr-1"></div>
    <div class="w-30 border">
      <div class="text-center uppercase f24 bold">PREMIUM</div>
      <p class="text-center mb20">скоро</p>
      <ul class="pl16 ml0 f18">
        <li class="mb16">ТОРГОВЛЯ НА ПЛАТФОРМЕ ВСЕМИ ВИДАМИ ДОСТУПНЫХ ИНСТРУМЕНТОВ</li>
        <li class="mb16">РАСШИРЕННАЯ ФИНАНССОВАЯ ИНФОРМАЦИЯ</li>
        <li class="mb16">БАЗОВАЯ АНАЛИТИКА</li>
        <li class="mb16">УПРАВЛЯЕМАЯ НОВОСТНАЯ ЛЕНТА</li>
        <li class="mb16">РОБОТ ТРЕЙЛИНГ СТОП</li>
        <li class="mb16">АНАЛИТИЧЕСКАЯ СИСТЕМА НА ОСНОВЕ ИСКУСТВЕННОГО ИНТЕЛЕКТА БАЗИРУЮЩАЯСЯ НА ТЕХНИЧЕСКИХ
          ПОКАЗАТЕЛЯХ
        </li>
        <li class="mb16">АНАЛИТИЧЕСКАЯ СИСТЕМА НА ОСНОВЕ ИСКУСТВЕННОГО ИНТЕЛЕКТА, БАЗИРУЮЩАЯСЯ НА ФУНДАМЕНТАЛЬНЫХ
          ПОКАЗАТЕЛЯХ
        </li>
        <li class="mb16">АНАЛЕТИЧЕСКАЯ РЕКОМЕНДАТЕЛЬНАЯ СИСТЕМА НА ОСНОВЕ ИИ</li>
        <li class="mb16">АНАЛИТИЧЕСКАЯ НОВОСТНАЯ СИСТЕМА НА ОСНОВЕ ИИ</li>
      </ul>

      <div class="price">
        <div class="f24 uppercase text-center bold mb16">3000</div>
        <div class="f24 uppercase text-center bold">Рублей в месяц</div>
      </div>

    </div>

  </div>
</div>

<div id="head3" class="mb100"></div>

<div class="container px16 mb100">
  <div class="f40 text-center uppercase mb50">Контакты</div>
  <p>напишите нам на почту: info@baraddur.ru</p>
  <p>skype: gordondalos.kg</p>
  <p>телеграмм: baraddur</p>

</div>

<div class="clearfix"></div>



