<div id="login"  fxLayout="column">

  <div id="login-form-wrapper"  fxLayout="column" fxLayoutAlign="center center">
    <div class="d-flex align-items-center mb16">
      <img class="logo mr8 d-inline-block" src="assets/images/logos/logo2.svg" alt="logo">
      <span class="welcome f24">Добро пожаловать</span>
    </div>

    <div id="login-form" class="form w100">
      <form name="loginForm" [formGroup]="loginForm" novalidate>

        <mat-form-field class="d-block mb16" appearance="outline">
          <mat-label>Электронная почта</mat-label>
          <input matInput formControlName="login">
          <mat-icon matSuffix class="secondary-text">account_box</mat-icon>
          <mat-error i18n="login error" *ngIf="loginForm.get('login').hasError('required')">
            Почта обязательна
          </mat-error>
        </mat-form-field>

        <ng-container *ngIf="reg">
          <mat-form-field class="d-block mb16" appearance="outline">
            <mat-label>Ваше имя</mat-label>
            <input matInput formControlName="name">
            <mat-icon matSuffix class="secondary-text">account_box</mat-icon>
            <mat-error i18n="login error" *ngIf="loginForm.get('name').hasError('required')">
              Имя пользователя обязательно
            </mat-error>
          </mat-form-field>
        </ng-container>


        <mat-form-field class="d-block mb16" appearance="outline">
          <mat-label>Пароль</mat-label>
          <input (keyup.enter)="login()" matInput [type]="type" formControlName="password">
          <mat-icon *ngIf="visibility" (click)="visibility = !visibility; type = 'password'"
                    matSuffix class="secondary-text pointer">visibility</mat-icon>
          <mat-icon *ngIf="!visibility" (click)="visibility = !visibility; type = 'text'"
                    matSuffix class="secondary-text pointer">visibility_off</mat-icon>
          <mat-error>
            Пароль
          </mat-error>
        </mat-form-field>

        <mat-checkbox *ngIf="reg"
                      disabled="true"
                      [checked]="checkedBtn"
                      color="primary"
                      [(ngModel)]="checkedBtn">Демо счет</mat-checkbox>

        <mat-form-field  *ngIf="reg" class="d-block mb16" appearance="outline">
          <mat-label>Token</mat-label>
          <input matInput type="password" formControlName="tToken">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>
            Токен обязателен
          </mat-error>
        </mat-form-field>

      </form>

      <ng-container *ngIf="reg">

        <div class="d-flex">
          <button (click)="showRegistration()"
                  mat-raised-button color="warn"
                  class="text-uppercase mr16 f-gr-1"
                  i18n="Registration button text">
           Перейти к авторизации
          </button>

          <button (click)="registration()"
                  mat-raised-button color="warn"
                  class="submit-button text-uppercase f-gr-1"
                  [disabled]="loginForm.invalid"
                  i18n="login button text">
            Регистрация
          </button>
        </div>

      </ng-container>

      <ng-container *ngIf="!reg">

        <div class="d-flex">
          <button (click)="showRegistration()"
                  mat-raised-button color="warn"
                  class="text-uppercase mr16 f-gr-1"
                  i18n="Registration button text">
            Регистрация
          </button>

          <button (click)="login()"
                  mat-raised-button color="warn"
                  class="submit-button text-uppercase f-gr-1"
                  [disabled]="loginForm.invalid"
                  i18n="login button text">
            Войти
          </button>
        </div>

      </ng-container>




    </div>

  </div>

</div>
