<ng-container *ngIf="id==='ts'">
  <div class="p16">


    <h1 class="bold">Описание робота трейлинг стоп</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est modi placeat possimus praesentium qui
      quos
      velit veritatis? Architecto consequatur dolore mollitia nam odio ullam unde. Assumenda explicabo libero voluptas.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est modi placeat possimus praesentium qui
      quos
      velit veritatis? Architecto consequatur dolore mollitia nam odio ullam unde. Assumenda explicabo libero voluptas.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est modi placeat possimus praesentium qui
      quos
      velit veritatis? Architecto consequatur dolore mollitia nam odio ullam unde. Assumenda explicabo libero voluptas.
    </p>

    <button mat-raised-button color="primary" (click)="openStore()">В магазин</button>
  </div>
</ng-container>



<ng-container *ngIf="id==='gold'">
  <div class="p16">


    <h1 class="bold">Описание тарифа GOLD</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est modi placeat possimus praesentium qui
      quos
      velit veritatis? Architecto consequatur dolore mollitia nam odio ullam unde. Assumenda explicabo libero voluptas.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est modi placeat possimus praesentium qui
      quos
      velit veritatis? Architecto consequatur dolore mollitia nam odio ullam unde. Assumenda explicabo libero voluptas.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est modi placeat possimus praesentium qui
      quos
      velit veritatis? Architecto consequatur dolore mollitia nam odio ullam unde. Assumenda explicabo libero voluptas.
    </p>

    <button mat-raised-button color="primary" (click)="openStore()">В магазин</button>
  </div>
</ng-container>
