@import "~iiko-styles/style/variables";

section {
  padding: 16px;
  background-color: $lignt-light-gray;
  min-width: 350px;
}

// приведенные ниже поля красят форму
::ng-deep {
  //.mat-form-field-empty.mat-form-field-label {
  //  color: white !important;
  //}
  ///* Border */
  //.mat-form-field-appearance-outline .mat-form-field-outline {
  //  color: white  !important;
  //}
  ///* Font color */
  //input.mat-input-element {
  //  color: white  !important;
  //}
  //
  //.mat-form-field-label {
  //  color: white !important;
  //}
}

