<div class="container p16 pt50">

  <h1 class="bold f24 text-center mb32">АКТИВАЦИЯ РЕЖИМА РЕАЛЬНОЙ ТОРГОВЛИ В BARADDUR</h1>

  <p>1.	АВТОРИЗИРУЙТЕСЬ В ЛИЧНОМ КАБИНЕТЕ ТИНЬКОФФ ИНВЕСТИЦИИ. НАЖМИТЕ НА ВКЛАДКУ ИНВЕСТИЦИИ, ЗАТЕМ ПЕРЕЙДИТЕ В НАСТРОЙКИ </p>
  <img src="assets/reg_1.png" alt="Получение токена шаг 1">
  <p>2.	ПОЛУЧИТЕ ТОКЕН ДЛЯ ТОРГОВЛИ (НЕОБХОДИМО СКОПИРОВАТЬ И СОХРАНИТЬ В ЛЮБОЙ ТЕКСТОВЫЙ ДОКУМЕНТ)</p>
  <img src="assets/token2.png" alt="Получение токена шаг 2">
  <p>3.	ПЕРЕЙДИТЕ НА САЙТ СЕРВИСА BARADDUR ПО ССЫЛКЕ: https://baraddur.ru/.
    АВТОРИЗИРУЙТЕСЬ В ЛИЧНОМ КАБИНЕТЕ.</p>
  <p>4. ВО ВКЛАДКЕ НАСТРОЙКИ В ПОЛЕ "ТОКЕН ДЛЯ ТОРГОВЛИ" ВСТАВЬТЕ СООТВЕТСТВУЮЩИЙ ТОКЕН,
    ВКЛЮЧИТЕ РЕЖИМ РЕАЛЬНОЙ ТОРГОВЛИ И СОХРАНИТЕ ИЗМЕНЕНИЯ.</p>
  <img src="assets/token1.png" alt="Включение режима торговли">

  <button mat-raised-button color="primary" (click)="goToMain()">На главную</button>
</div>
