.sidenav_container {
  min-width: 60px;
  height: calc(100vh - 200px);
}

.jim {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.active {
  background-color: var(--bg-primary);
  font-weight: bold;
}

.sp-text{
  color: var(--sidebar-text-color);
  font-size: 14px;
  padding-left: 10px;
}

.mat-icon{
  color: var(--sidebar-text-color);
  width: 16px;
  height: 16px;
  font-size: 16px;
}
