<div class="card w100">

  <div class="card-preview">

    <div class="fuse-card">

      <div class="p-16">
        <div class="f18 bold text-danger mb16" i18n="error dialog, title">Ошибка</div>
      </div>

      <div class="p-16 pt-0 line-height-1.75">
        {{data}}
      </div>

      <div class="pt16" fxLayout="row" fxLayoutAlign="start center">
        <button mat-raised-button i18n="error dialog, text on button" color="warn" (click)="onNoClick()">Закрыть</button>
      </div>
    </div>
  </div>
</div>
