@import "~iiko-styles/style/variables";
@import "../../styles/variables";


::ng-deep {
  .mat-tooltip {
    font-size: 14px !important;
  }
}

table {
  width: 100%;
}

.trailing {
  position: relative;
  top: 4px;
  left: 10px;
}

.stop-order {
  position: relative;
  top: 8px;
  color: $danger;
  margin-left: 8px;
  cursor: pointer;
}


.ticker {
  width: 40px;
  height: 40px;
  background-color: $primary;
  border-radius: 100%;
  font-size: 10px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  &.buy {
    background-color: $success;
  }
  &.sell {
    background-color: $danger;
  }
}

.list-item {
  border-bottom: 1px solid $light-gray;
  //&:last-child {
  //  border: none;
  //}
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

::ng-deep {
  .ag-center-cols-container, .ag-header-row, .ag-header-container {
    width: 100% !important;
  }

  .mat-list-content {
    padding: 0;
  }
}
