<ng-container *ngIf="!show">
  <div class="d-flex align-items-center mt16 px16">
    <h3 class="bold mb0">Инструменты</h3>
    <div class="f-gr-1"></div>
    <button [routerLink]="['/portfolio/buy']" mat-raised-button color="primary">Что купить</button>
  </div>


  <div class="d-flex align-items-center my16 px16 f12">
    <ng-container *ngFor="let item of balance">
      <span class="d-block mr8">{{item.currency}}: {{item.balance.toFixed(2)}}</span>
    </ng-container>
  </div>

  <ng-container *ngIf="portfolio && portfolio.length > 0">
    <mat-list role="list">
      <ng-container *ngFor="let item of portfolio">
        <mat-list-item (click)="openDetail(item)" class="list-item pointer" role="listitem">
          <div class="ticker mr16">
            <ng-container *ngIf="item.ticker.length <= 5">
              <span>{{item.ticker}}</span>
            </ng-container>

          </div>
          <div class="f-gr-1">
            <div class="bold f12">
              {{item.name}}
            </div>
            <div class="d-block text-gray f10">
              <span>{{item.lots}} шт.,</span>
              <span class="pl8">на сумму {{(item.price * item.lots).toFixed(2)}}</span>
            </div>
          </div>

          <div class="price f12">

            <ng-container *ngIf="item && item.price">
              {{(+item.price).toFixed(2)}}
            </ng-container>

            <ng-container *ngIf="item.trailingStop">
              <mat-icon matTooltip="трейлингстоп" class="f16 trailing">directions_run</mat-icon>
            </ng-container>

          </div>

        </mat-list-item>
      </ng-container>
    </mat-list>
  </ng-container>

  <ng-container *ngIf="portfolio && portfolio.length === 0">
    <h3>Или у вас нет инструментов, или что то сломалось.</h3>
  </ng-container>

</ng-container>


<!--<div class="d-flex vertical-center mb16">-->
<!--  <h2>Portfolio items</h2>-->
<!--  <div class="f-gr-1"></div>-->
<!--  <button mat-raised-button color="primary" (click)="updateData()">Обновить данные по акциям</button>-->
<!--</div>-->

<!--<ng-container *ngIf="show">-->
<!--  <ag-grid-angular-->
<!--    style="width: 100%;"-->
<!--    domLayout='autoHeight'-->
<!--    class="ag-theme-alpine"-->
<!--    [rowData]="portfolio"-->
<!--    [columnDefs]="columnDefs"-->
<!--    (gridReady)="onGridReady($event)"-->
<!--    (firstDataRendered)="onFirstDataRendered($event)"-->
<!--    (columnMoved)="columnMoved()"-->
<!--    (rowClicked)="rowClick($event)"-->
<!--  >-->
<!--  </ag-grid-angular>-->
<!--</ng-container>-->

