<mat-form-field appearance="outline">
  <input matInput placeholder="Поиск значения" (keyup)="applyFilter($event)" #input>
</mat-form-field>

<ng-container *ngIf="dataSource">
  <h3 class="bold mb0">Показатели</h3>
  <table  mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="key">
      <th class="text-center pl0 w45" mat-header-cell *matHeaderCellDef>
        <div class="text-center bold">Название</div>
      </th>
      <td class="pl0 w45" mat-cell *matCellDef="let element">
        <div class="bold my8">{{element.title}}</div>
        <div class="f12 text-dark-gray pr8">{{element.info.description}}</div>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="value">
      <th class="text-center w10"  mat-header-cell *matHeaderCellDef>
        <div class="text-center">
          <div class="text-center bold">Значение</div>
        </div>
      </th>
      <td class="f18 bold px8 b-l text-center w10" mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="consensus">
      <th class="text-center w45" mat-header-cell *matHeaderCellDef>
        <div class="text-center bold">Консенсус</div>
      </th>
      <td class="b-l f12 text-dark-gray pr8 pl8" mat-cell *matCellDef="let element"> {{element.info.interpretation}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</ng-container>

