<div class="w-30 pl32">
  <!--  <h2>Balance</h2>-->
  <!--  <ng-container *ngFor="let item of balance">-->
  <!--    <div class="d-flex w100 mb16">-->
  <!--      <span>{{item.currency}}: {{item.balance}}</span>-->
  <!--    </div>-->
  <!--  </ng-container>-->
</div>

<div class="d-flex w100">
  <div class="w100">
    <ng-container *ngIf="portfolio">
      <app-instruments [portfolio]="portfolio"></app-instruments>
    </ng-container>
  </div>

</div>

<div class="d-flex w100 mt16">
  <div class="w100 d-flex" *ngIf="instruments">
    <app-group-kreator [instruments]="instruments"></app-group-kreator>
    <div class="f-gr-1"></div>
    <app-buy-sell [instruments]="instruments"></app-buy-sell>
  </div>
</div>



