
  <ng-container *ngIf="isWelcome">
    <router-outlet></router-outlet>
  </ng-container>

  <ng-container *ngIf="!isWelcome">
    <div>
      <app-header
        [sidenav]="leftSidenav">
      </app-header>

      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #leftSidenav mode="side" opened>
          <app-navbar></app-navbar>
        </mat-sidenav>
        <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
          <div class="main_content">
            <div class="p20">
              <router-outlet></router-outlet>
            </div>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>

  </ng-container>

