@import "node_modules/iiko-styles/style/variables";


//:host {
//  display: block;
//  margin: auto;
//  height: 100vh;
//  width: 100vw;
//  background: black;
//}

//.wrapper-content {
//  max-width: 375px;
//  max-height: 667px;
//  display: block;
//  margin: auto;
//  height: 100vh;
//  width: 100vw;
//}

.sidenav-container {
  height: calc(100vh - 60px);
}

.main_content {
  width: 100%;
  height: calc(100vh - 66px);
  background: var(--bg-color);
  color: var(--text-color);
}

mat-sidenav {
  background: $black-light-style;
}

