<ng-container *ngIf="isWelcome">
  <router-outlet></router-outlet>
</ng-container>

<ng-container *ngIf="!isWelcome">

  <div class="wrapper-content">
    <app-header
      [sidenav]="leftSidenav">
    </app-header>

      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav position="end" class="example-sidenav" #leftSidenav mode="over" [fixedInViewport]="false">

          <div class="d-flex w100 posr">
            <div class="f-gr-1"></div>
            <mat-icon class="mat-24 close pointer m16" (click)="leftSidenav.close()">close</mat-icon>
          </div>
          <app-dinamic-loader></app-dinamic-loader>

        </mat-sidenav>
        <mat-sidenav-content >
          <div
            class="main_content">
            <ng-container
              *ngIf="showSpiner">
              <mat-spinner></mat-spinner>
            </ng-container>
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>

  </ng-container>


