@import "node_modules/iiko-styles/style/variables";

.sidenav-container {
  height: calc(100vh - 60px);
}

.main_content {
  width: 100%;
  height: calc(100vh - 66px);
  background: var(--bg-color);
  color: var(--text-color);
}

mat-sidenav {
  background: $black-light-style;
}

