<div class="container pb16 pt50">

  <h1 class="bold f24 text-center mb32">РЕГИСТРАЦИЯ НА СЕРВИСЕ BARADDUR</h1>

  <p>1.	СТАНЬТЕ КЛИЕНТОМ ТИНЬКОФФ ИНВЕСТИЦИИ</p>
  <p>2.	АВТОРИЗУЙТЕСЬ В ЛИЧНОМ КАБИНЕТЕ. НАЖМИТЕ НА ВКЛАДКУ <b>ИНВЕСТИЦИИ</b> И ПЕРЕЙДИТЕ В <b>НАСТРОЙКИ</b> </p>
  <img src="assets/reg_1.png" alt="Поулчение токена шаг 1">
  <p>3.	ПОЛУЧИТЕ ТОКЕН ДЛЯ ПЕСОЧНИЦЫ</p>
  <img src="assets/reg_2.png" alt="Поулчение токена шаг 2">
  <p>4.	ВЕРНИТЕСЬ НА САЙТ СЕРВИСА BARADDUR
    ПО ССЫЛКЕ: <a href="https://baraddur.ru/">https://baraddur.ru/</a> В ПОЛЕ АВТОРИЗАЦИИ	 НАЖМИТЕ НА ССЫЛКУ <b>РЕГИСТРАЦИЯ</b>. </p>
  <img src="assets/reg_3.png" alt="Поулчение токена шаг 3">
  <p>5.	ЗАПОЛНИТЕ ВСЕ ПОЛЯ РЕГИСТРАЦИОННОЙ ФОРМЫ. В ПОЛЕ <b>ТОКЕН</b> ВСТАВЬТЕ СОХРАНЕННЫЙ КЛЮЧ.
    ЗАВЕРШИТЕ ПРОЦЕСС, НАЖАВ НА КНОПКУ <b>РЕГИСТРАЦИЯ</b>.</p>
  <img src="assets/reg_4.png" alt="Поулчение токена шаг 4">
  <p>6.	ИНСТРУКЦИЮ ПО АКТИВАЦИИ РЕЖИМА РЕАЛЬНОЙ ТОРГОВЛИ (БОЕВОЙ РЕЖИМ) ЧИТАЙТЕ ПО ССЫЛКЕ: <a href="">Ссылка</a></p>
  <p>
    7. ПЕРВЫЕ ШАГИ ПО СЕРВИСУ BARADDUR СМОТРИТЕ ПО ССЫЛКЕ: <a href="">Ссылка</a>
  </p>

  <button mat-raised-button color="primary" (click)="goToMain()">На главную</button>
</div>
