<div class="container py16">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad consequatur, cupiditate doloremque eius enim eum ex facilis illo in labore laborum molestiae nihil qui quibusdam quidem quis, quod veritatis.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad consequatur, cupiditate doloremque eius enim eum ex facilis illo in labore laborum molestiae nihil qui quibusdam quidem quis, quod veritatis.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad consequatur, cupiditate doloremque eius enim eum ex facilis illo in labore laborum molestiae nihil qui quibusdam quidem quis, quod veritatis.
  </p>

  <button mat-raised-button color="primary" (click)="goToMain()">На главную</button>
</div>
