@import "~iiko-styles/style/variables";

mat-tab-group {
  max-width: 650px;
  margin: auto;
}

.chart-box {
  max-width: 650px;
  margin: auto;
  position: relative;
  top: -10px
}

#chart-candlestick,
#chart-bar {
  max-width: 95%;
  width: 640px;
  margin: auto;
}

#chart-bar {
  margin-top: -30px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  display: block;
}

.periods {
  justify-content: center;
  max-width: 95%;

  span {
    display: inline-block;
    padding: 6px 8px;
    text-align: center;
    border: 1px solid $light-gray;
    border-radius: 3px;
    margin: 1px;

    &.selected {
      background-color: $light-gray;
    }
  }
;
}

.select-chart {
  position: relative;
  top: 10px;
  left: 16px;
  z-index: 1000;
  border-bottom: 1px dashed $info;
  margin-left: 8px;
  cursor: pointer;
  color: $info;
  &.selected {
    color: $primary-dark;
    border: none;
    cursor: auto;
  }
}

#chartdiv {
  height: 360px;
}
