@import "~iiko-styles/style/variables";

mat-tab-group {
  max-width: 650px;
  margin: auto;
}
.chart-box {
  max-width: 650px;
  margin: auto;
  position: relative;
  top: -10px
}
#chart-candlestick,
#chart-bar {
  max-width: 640px;
}

#chart-bar {
  margin-top: -30px;
}

.price {
  margin: 16px 16px 0 16px;
  font-size: 18px;
  font-weight: bold;
  display: block;
}

.periods {
  justify-content: space-around;
  span {
    display: inline-block;
    padding: 6px 8px;
    text-align: center;
    border: 1px solid $light-gray;
    border-radius: 3px;
  };
}
