<mat-tab-group animationDuration="0ms">
  <mat-tab>
    <ng-template mat-tab-label>
      Детали
    </ng-template>

    <div class="wrapper">

      <ng-container *ngIf="info && info.currency && price">
        <div class="d-flex p16 align-items-center">
          <span class="price">{{price?.toFixed(3)}} {{info?.currency}}</span>
          <mat-icon *ngIf="currentInstrument?.trailingStop">directions_run</mat-icon>
          <div class="f-gr-1"></div>
          <ng-container *ngIf="currentInstrument">
            <button class="mr16" mat-raised-button color="primary" (click)="opensideNav(true)">
              <mat-icon>directions_run</mat-icon>
            </button>
          </ng-container>


          <button class="f12" mat-raised-button color="primary" (click)="opensideNav(false)">Купить / Продать</button>
        </div>

      </ng-container>

      <ng-container *ngIf="info && currentInstrument">
        <app-count-info
          [info]="info"
          [currentInstrument]="currentInstrument"
          [figi]="figi">
        </app-count-info>
      </ng-container>

      <ng-container *ngIf="chartCandleOptions">
        <h4 class="text-center mb0">График по московскому времени</h4>

        <span
          class="select-chart"
          [ngClass]="{'selected': chartType === 'line'}"
          (click)="toggleCandleToLine('line')">
          Линия
      </span>

        <span
          class="select-chart"
          [ngClass]="{'selected': chartType === 'candlestick'}"
          (click)="toggleCandleToLine('candlestick')">
          Свечи
      </span>
        <div class="chart-box mt16">
          <div id="chart-candlestick">
            <apx-chart
              #chartCandle
              [series]="chartCandleOptions.series"
              [chart]="chartCandleOptions.chart"
              [xaxis]="chartCandleOptions.xaxis"
              [yaxis]="chartCandleOptions.yaxis"
              [stroke]="chartCandleOptions.stroke"
              [plotOptions]="chartCandleOptions.plotOptions"
              [tooltip]="chartCandleOptions.tooltip"
            ></apx-chart>
          </div>

          <div class="d-flex periods flex-wrap">
            <span [ngClass]="{'selected': interval === '1min'}" class="pointer"
                  (click)="loadInterval('1min')">1мин</span>
            <span [ngClass]="{'selected': interval === '2min'}" class="pointer"
                  (click)="loadInterval('2min')">2мин</span>
            <span [ngClass]="{'selected': interval === '3min'}" class="pointer"
                  (click)="loadInterval('3min')">3мин</span>
            <span [ngClass]="{'selected': interval === '5min'}" class="pointer"
                  (click)="loadInterval('5min')">5мин</span>
            <span [ngClass]="{'selected': interval === '10min'}" class="pointer"
                  (click)="loadInterval('10min')">10мин</span>
            <span [ngClass]="{'selected': interval === '15min'}" class="pointer"
                  (click)="loadInterval('15min')">15мин</span>
          </div>

          <div class="d-flex periods flex-wrap">
            <span [ngClass]="{'selected': interval === '30min'}" class="pointer"
                  (click)="loadInterval('30min')">30мин</span>
            <span [ngClass]="{'selected': interval === 'hour'}" class="pointer"
                  (click)="loadInterval('hour')">час</span>
            <span [ngClass]="{'selected': interval === 'day'}" class="pointer" (click)="loadInterval('day')">день</span>
            <span [ngClass]="{'selected': interval === 'week'}" class="pointer"
                  (click)="loadInterval('week')">неделя</span>
            <span [ngClass]="{'selected': interval === 'month'}" class="pointer"
                  (click)="loadInterval('month')">месяц</span>
          </div>

          <span class="mt16 d-block bold mx16">Объем торгов</span>
          <div id="chart-bar" class="mt0">
            <apx-chart
              #chartBar
              [series]="chartBarOptions.series"
              [chart]="chartBarOptions.chart"
              [xaxis]="chartBarOptions.xaxis"
              [yaxis]="chartBarOptions.yaxis"
              [dataLabels]="chartBarOptions.dataLabels"
              [stroke]="chartBarOptions.stroke"
              [plotOptions]="chartBarOptions.plotOptions"
            ></apx-chart>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Стакан
    </ng-template>
    <div class="p16" *ngIf="info && info.currency">
      <app-orderbook
        [info]="info"
        [figi]="figi"
        [currency]="info.currency"></app-orderbook>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Обзор
    </ng-template>
    <div class="p16" *ngIf="info && figi">
      <app-statistic
        [info]="info"
        [figi]="figi"
      ></app-statistic>
    </div>
  </mat-tab>

  <!--  <mat-tab>-->
  <!--    <ng-template mat-tab-label>-->
  <!--      Аналитика-->
  <!--    </ng-template>-->
  <!--    <div class="p16">-->
  <!--      Уже скоро-->
  <!--    </div>-->
  <!--  </mat-tab>-->

  <mat-tab>
    <ng-template mat-tab-label>
      События
    </ng-template>
    <div class="p16">
      <app-history-triling
        [info]="info"
        [currentInstrument]="currentInstrument"
        [figi]="figi"></app-history-triling>
    </div>
  </mat-tab>
</mat-tab-group>
