<mat-tab-group animationDuration="0ms">
  <mat-tab>
    <ng-template mat-tab-label>
      <!--      <mat-icon class="example-tab-icon">thumb_up</mat-icon>-->
      Детали
    </ng-template>

    <div class="pr8">

      <ng-container *ngIf="info && info.currency && price">
        <span class="price">{{price}} {{info.currency}}</span>
      </ng-container>
      <ng-container *ngIf="chartCandleOptions">
        <div class="chart-box">
          <div id="chart-candlestick">
            <apx-chart
              #chartCandle
              [series]="chartCandleOptions.series"
              [chart]="chartCandleOptions.chart"
              [xaxis]="chartCandleOptions.xaxis"
              [plotOptions]="chartCandleOptions.plotOptions"
              [tooltip]="chartCandleOptions.tooltip"
            ></apx-chart>
          </div>

          <div class="d-flex periods">
            <span>M5</span>
            <span>M15</span>
            <span>М30</span>
            <span>Ч1</span>
            <span>Ч4</span>
            <span>1 день</span>

          </div>

          <div id="chart-bar" class="mt16">
            <apx-chart
              #chartBar
              [series]="chartBarOptions.series"
              [chart]="chartBarOptions.chart"
              [xaxis]="chartBarOptions.xaxis"
              [yaxis]="chartBarOptions.yaxis"
              [dataLabels]="chartBarOptions.dataLabels"
              [stroke]="chartBarOptions.stroke"
              [plotOptions]="chartBarOptions.plotOptions"
            ></apx-chart>
          </div>
        </div>
      </ng-container>


      <ng-container *ngIf="info">
        <app-count-info
          [info]="info"
          [figi]="figi">
        </app-count-info>
      </ng-container>




    </div>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Обзор
    </ng-template>

    <div class="p16">
      Ghbdtn
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Стакан
    </ng-template>
    <div class="p16">
      Ghbdtn
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Аналитика
    </ng-template>
    <div class="p16">
      Ghbdtn
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      События
    </ng-template>
    <div class="p16">
      Ghbdtn
    </div>
  </mat-tab>
</mat-tab-group>
