@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
@import "node_modules/iiko-styles/main";
@import "./src/app/styles/common";

.ag-theme-alpine {
  @include ag-theme-alpine();
}

/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box !important;
}

html, body {
  height: 100%;
}

.mat-drawer-container {
  background-color: transparent;
}

.bg-primary {
  background-color: var(--navbar-bg-color);
}

.bold {
  font-weight: bold !important;
}

.d-inline-block {
  display: inline-block !important;
}

.f-gr-1 {
  flex-grow: 1;
}

.text-right {
  text-align: right;
}

.vertical-center {
  align-items: center;
}

.bg-success {
  background-color: $success;
}

.text-success {
  color: $success;
}

.text-danger {
  color: $danger;
}

.text-white {
  color: white;
}

.bg-danger {
  background-color: $danger;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33%;
}

.w100 {
  width: 100%;
}

.w-70 {
  width: 70%;
}

.pl32 {
  padding-left: 32px;
}

.mb16 {
  margin-bottom: 16px;
}


.mat-row:nth-child(odd) {
  background-color: var(--bg-secondary);
}


p {
  font-family: Lato, sans-serif;
}

.text-primary {
  color: var(--primary);
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

button {
  min-width: auto !important;
}


