/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.w-30 {
  width: 30%;
}

.w100 {
  width: 100%;
}

.w-70 {
  width: 70%;
}

.pl32 {
  padding-left: 32px;
}

.mb16 {
  margin-bottom: 16px;
}


.mat-row:nth-child(odd) {
  background-color: var(--bg-secondary);
}


p {
  font-family: Lato, sans-serif;
}

.text-primary {
  color: var(--primary);
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

button {
  min-width: auto !important;
}


