<div class="mt16">
  <div class="d-flex b-b pb16">
    <div class="text-success">Покупка</div>
    <div class="f-gr-1"></div>
    <div>Цена</div>
    <div class="f-gr-1"></div>
    <div class="text-warning">Продажа</div>
  </div>
  <ng-container *ngFor="let item of bids">
    <div class="d-flex py16 b-b">
      <div class="w-50"></div>
      <div>{{item[0]}} {{currency}}</div>
      <div class="f-gr-1"></div>
      <div>{{item[1]}}</div>
    </div>
  </ng-container>
  <ng-container *ngFor="let item of asks">
    <div class="d-flex py16 b-b">
      <div>{{item[1]}}</div>
      <div class="f-gr-1"></div>
      <div>{{item[0]}} {{currency}}</div>
      <div class="w-50"></div>
    </div>
  </ng-container>
</div>


